.blessing {
  margin-left: 12.5%;
  margin-top: 4%;
  direction: rtl;
  padding: 2%;
  text-align: right;
  background: #fff;
  border: 3px salmon solid;
  width: 75%;
  align-content: center;
  align-items: center;
}
