.identficationModal {
  margin-left: 15%;
  margin-top: 7%;
  width: 70%;
  height: 75%;
  background-color: #fff;
  border: 1px solid #007bff;
}

.quiz {
  text-align: center;
}

.question {
  width: 80%;
  margin-left: 10%;
}

.answer {
  text-align: right;
  padding-right: 5%;
}

.answer:hover {
  background-color: #f5f5f5;
}
